body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
}
.person {
	font-size: 1rem;
	color: #000;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: "Calibri";
	width: 80%;
	margin-left: 10%;
}

.person__contacts {
	font-weight: bold;	
}

.avatar__picture:hover {
transform: rotate(180deg);

}

.avatar__picture {
	margin: 2rem;
	border-radius: 50%;
    border: 1.5rem solid #fff;
	transition-duration:1000ms;

}

.contacts__name {
	font-size: 2rem;
}
.contacts__role {
	font-size: 1.2rem;
}
.contacts__item {
	margin: 1.5rem 0;
}
.contacts__title {
	font-style: italic;
}

.contacts__link {
	color: gray;
	font-style: italic;
	font-weight: normal;
}
.paragraph {
	margin: 1rem 2rem;
}

.paragraph_last {
	margin: 1rem 2rem 3rem;
}

@media (max-device-width:480px){
	body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 1rem;
}
.person {
	font-size: 1rem;
	color: #000;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: "Calibri";
	justify-content: center;
}

.avatar__picture {
	margin: 2rem;
	border-radius: 50%;
    border: 3rem solid #fff;
	width: 700;
}

.contacts__name {
	font-size: 5.5rem;
	text-align: center;
}
.contacts__role {
	font-size: 1.2rem;
	text-align: center;
}
.contacts__item {
	margin: 1.5rem 0;
	text-align: left;
}
.contacts__title {
	font-style: italic;

}

.contacts__link {
	color: gray;
	font-style: italic;
	font-weight: normal;
}
.paragraph {
	margin: 1rem 2rem;
}

.paragraph_last {
	margin: 1rem 2rem 3rem;
}
}
