body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
}
.person {
	font-size: 16px;
	color: #000;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: "Calibri";
	margin-left: 120px;
	margin-right: 120px;
}
.person__info {	
	/* добавьте ваш код  */
}
.person__contacts {
	font-weight: bold;	
}
.person__details {
	/* добавьте ваш код  */
}
.avatar {
	/* добавьте ваш код  */
}
.avatar__picture {
	float: left;
	margin: 32px;
	border-radius: 180px;
    border: 17px solid #fff;

}
.contacts {
	/* добавьте ваш код  */
}
.contacts__name {
	font-size: 32px;
}
.contacts__role {
	font-size: 19.2px;
}
.contacts__item {
	margin: 25px 0;
}
.contacts__title {
	font-style: italic;
}
.contacts__title:after {
	/* добавьте ваш код  */
}
.contacts__link {
	color: gray;
	font-style: italic;
	font-weight: normal;
}
.paragraph {
	margin: 16px 32px;
}

.paragraph_last {
	margin: 16px 32px 48px;
}

@media (max-device-width:480px){
	body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
}
.person {
	font-size: 16px;
	color: #000;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: "Calibri";
	margin-left: 130px;
	margin-right: 130px;
	justify-content: center;

}
.person__info {	
	/* добавьте ваш код  */
}
.person__contacts {
	font-weight: bold;	
}
.person__details {
	/* добавьте ваш код  */
}
.avatar {
	/* добавьте ваш код  */
}
.avatar__picture {
	margin: 32px;
	border-radius: 350px;
    border: 17px solid #fff;
	width: 700;
}
.contacts {
	/* добавьте ваш код  */
}
.contacts__name {
	font-size: 90px;
	text-align: center;
}
.contacts__role {
	font-size: 19.2px;
	text-align: center;
}
.contacts__item {
	margin: 25px 0;
	text-align: left;
}
.contacts__title {
	font-style: italic;
	
}
.contacts__title:after {
	/* добавьте ваш код  */
}
.contacts__link {
	color: gray;
	font-style: italic;
	font-weight: normal;

}
.paragraph {
	margin: 16px 32px;
}

.paragraph_last {
	margin: 16px 32px 48px;
}
}
